.btn {
  display: inline-block;
  border-radius: 4px;
}

.filled {
  color: white;
  background-color: var(--greenPrimary);
}

.filled:hover {
  color: white;
  background-color: var(--greenLight);
}

.filled:active {
  color: white;
  background-color: var(--greenDark);
}

.outlined {
  color: var(--greenPrimary);
  background-color: white;
  border: 1px solid var(--greenPrimary);
}

.outlined:hover {
  background-color: var(--mintLight);
}

.outlined:active {
  background-color: var(--mintPrimary);
}

.large {
  padding: 16px 40px;
}

.small {
  padding: 12px 20px;
}

a:hover {
  color: var(--greenLight);
}

a:active {
  color: var(--greenDark);
}