.footer {
  background-color: var(--greenDark);
  width: 100%;
  margin-top: 130px;
  padding: 50px 0px;
}

#footerContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}

@media all and (min-width: 370px) {
  #footerContent {
    gap: 30px;
  }
}

@media all and (min-width: 600px) {
  #footerContent {
    gap: 250px;
  }
}

.footerLogo {
  flex-basis: 20%;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  flex: 1 1 40%;
}

.footerLinkHeader {
  color: white;
}

.footerLink {
  display: block;
  color: white;
}


.footerLink:hover {
  color: var(--mintPrimary);
}

.footerLink:active {
  color: var(--mintDark);
}

.footerLinkGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#copyright {
  text-align: right;
  color: white;
  margin-top: 100px;
  padding: 0 20px 0 20px;
}