header {
    margin: 0%;
}


.header-child {
    max-width: 1000px;
    margin: auto;

    font-family: 'Domine';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 21px;
    text-align: center;
}

.steps {
    margin-left: 15%;
    margin-right: 15%;
    flex: 1.5;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    display: flex;
    min-width: 300px;
    flex: 1 1 40%;
    flex-direction: column;
}

.flex-container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding: 20px;
}
