header {
  display: flex;
  margin: 0%;
  background-color: var(--mintLight);
}

.header-child {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 5%;
}

#content {
  margin-left: 15%;
  flex: 1.5;
}

#links {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  margin-left: 0;
  margin-top: 7%;
}